* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
section {
width: 100%;
height: 100vh;
}
#nav {
    background-color: black;
}
ul {
list-style-type: none;
width: 100%;
position: fixed;
display: flex;
flex-direction: row;
background-color:purple;
justify-content:center;
overflow: hidden;
}
li {
float: right;
border-right: 3px solid wheat;
}
li a {
text-decoration: none;
color: wheat;
padding: 20px;
text-align: center;
padding: 15px 40px;
display:block;
}
.content {
    color: aqua;
    text-align: center;
    line-height: 70vh;
    column-rule: 1px solid white;
    column-gap: 30px;
    column-count: 2;
    font-size: 35px;
   
}
h5 {
    color: wheat;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 45px;
    line-height: 40vh;

}
#about {
background-color: blue;
justify-content: center;
height: 60%;
}
#projects {
background-color: white;
height: 70vh;
}
#skills {
background-color: yellow;
height: 40vh;
text-align: center;
}
progress {
width: 70%;
display: block;
}
#contact {
background-color: white;
height:30vh;
}
.fa {
    display: block;
}
#footer {
background-color: white;
height: 5vh;
}
.foot {
    text-align: center;
    font-style: oblique;
    font-size: 30px;
    color:wheat;
}
